@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&family=Poppins:ital,wght@1,200&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* font-family: "poppins", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
  --font-color: #000;
}
.dark-theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: rgba(0, 0, 0, 0.836);
  --font-color: #fff;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 75vh;
}

.about-section {
  padding: 78px;
  text-align: center;
  /* background-color: #007bff; */
  background-image: url("images/party.png");
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #007bff;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(177, 202, 219);
  text-align: center;
  cursor: pointer;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1876f2;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
}
.logo {
  width: 160px;
  margin-right: 45px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 10px;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon {
  margin-left: 30px;
}
.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: flex;
  padding: 0 15px;
  align-items: center;
}
.search-box img {
  width: 19px;
  height: 19px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
.button {
  background-color: #007bff;
}
.button a {
  text-decoration: none;
  color: #fff;
}
.button:hover {
  background-color: #007bffb2;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  /* height: 500px; */
  background-color: var(--bg-color);
  /* border: #fff solid 1px; */
  /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  overflow: hidden;
  top: 105%;
  right: 5%;

  max-height: 0;
  transition: max-height 0.3s;
  color: var(--font-color);
}

.settings-menu-height {
  max-height: 450px;
}

.user-profile a {
  text-decoration: none;
  font-size: 13px;
  color: #1876f2;
}
/* ----- */
.user-profile img {
  height: 37px;
  border-radius: 50%;
}
.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-2 {
  padding-right: 1rem;
}

.setting-menu-inner {
  padding: 10px;
}

.settings-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 10px 0;
}

.setting-links {
  display: flex;
  align-items: center;
  margin: 9px 0;
}

.setting-links a {
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}

.setting-links .settings-icon {
  width: 37px;
  margin-right: 10px;
  border-radius: 50%;
}

/* --------------------------Dark mode--------------------------- */

#dark-btn{
  display: flex;
  position: absolute;
  top: 20%;
  top: 20px;
  right: 20px;
  background-color: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  transition: padding-left 0.5s, background-color 0.5s;
}

#dark-btn span{
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on{
  padding-left: 23px;
  background-color: #000;
  border: #ccc solid 1px;
}
